.link-modal{
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    display: flex;
    align-items: center;justify-content: center;
    position: fixed;
}
.link-modal > div{
    /*margin: auto;*/
    width: 500px;background-color: #fff;
    padding: 20px 5%;
    box-shadow: 0px 1px 17px 1px rgba(170, 170, 170, 1);
    border-radius: 10px;
}
.link-modal p{margin: 8px}
.cbtLinkInput{
    height: 40px; width:280px;
    border-width: 1px;border-color: #811eb8;
    border-right-width: 0px;
    float:left;padding-left: 5px;
    outline: none;
}
.cbtLinkSpan{
    border: 1px solid #811eb8;
    border-left-width: 0px;
    padding:4px;
    height: 40px;
    float:left;
}
.cbtLinkSpan > button{
    padding: 3px 25px;height: 30px;
    border-top-left-radius: 25px;
    border-width: 0px; color: #fff;background-color: #811eb8;
    cursor: pointer;
}
.orParagraph{padding-left: 50px;}
.orParagraph > span{float: left;}
.orParagraph > span:not(:nth-child(2)){
    margin: 7px 10px 0px;
    height: 3px; background-color: #811eb8;
    width: 100px;
}
.btn-purple{
    color: #fff;
    background-color: #811eb8;border-width: 0px;
}
.navbar{
    padding: 15px 5%;position: fixed;
    border-bottom: 1px solid #d9d9d9;
}
.navbar > span:first-child{font-size: 35px; color:#811eb8;font-weight: bold;}
.navbar > sub{color: #41aeb5;font-weight: bold;}
#timerSpan{float: right}
.navbar > span:last-child{margin-top: 10px;font-size: 25px;}
.content{padding: 80px 5% 0px;background-color: #f2f2f2;height: 100vh;}
.content > div{
    padding: 10px;
}
.content > div > div{
    border-radius: 5px;
    background-color: #fff;
}
.content > div:last-child > div{
    padding: 40px;
}
#questionDiv{
    height: 250px;
    border: 1px solid #d9d9d9;
    overflow-y: scroll;
    padding: 15px;
}
#questionsButton{
    border-top: 1px solid #f2f2f2;padding-top: 8px;
}
.content > div:first-child > div{padding: 0px 10px 10px}
.content > div:first-child > div > div{
    text-align: center;padding: 20px 10px;
}
.content > div:first-child > div img{
    width: 150px;border: 1px solid #f2f2f2;
}
.qbtn{padding: 10px;border-radius: 5px; border-width: 0px;margin: 3px;cursor:pointer;outline:none}
.answered{color:#fff; background-color: #428bca;}
#optionDiv{padding: 10px;}
#optionDiv  input{display: inline-block;margin-bottom: 15px;}